
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Votre Identité </h5>
    <p class="card-text">
		  First name : <%= @user.first_name%></br>
		  Last name : <%= @user.last_name%></br>
		  Description : <%= @user.description%></br>
		  E-mail : <%= @user.email%></br>
		  Age : <%= @user.age%></br>
		  City : <%= @city.name%> </br>
	</p>
    <span class="btn btn-light"><%= link_to "See all gossips ", controller:"gossips", action:"index"%></span>
     <span class="btn btn-light"><%= link_to "All gossip in the city ", controller:"cities", action:"show"%></span>
  </div>
</div>